global
    log stdout format raw local0

defaults
    log global
    mode http
    timeout connect 5s
    timeout client 30s
    timeout server 30s

frontend http_front
    bind *:80

    # task-service (ВАЖНО: /tasks и /)
    acl is_task path_beg /tasks /
    use_backend tasks_backend if is_task

    # monitoring (опционально)
    acl is_grafana path_beg /grafana
    use_backend grafana_backend if is_grafana

    acl is_prom path_beg /prom
    use_backend prom_backend if is_prom

    acl is_argo path_beg /argo
    use_backend argo_backend if is_argo

backend tasks_backend
    server task1 task-service.todo-app.svc.cluster.local:8001 check

backend grafana_backend
    server grafana monitoring-grafana.monitoring.svc.cluster.local:80 check

backend prom_backend
    server prom monitoring-kube-prometheus-prometheus.monitoring.svc.cluster.local:9090 check

backend argo_backend
    server argo argocd-server.argocd.svc.cluster.local:80 check